@model MLGBugTracker.Models.AssignDevViewModel


<h2>@Model.Ticket.Title</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Ticket.Id)
@Html.HiddenFor(m => m.Ticket.Title)
@Html.HiddenFor(m => m.Ticket.Description)
<div>
    <div class="form-group">
        @Html.LabelFor(model => model.Developers, "Developers", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(item => item.SelectedUser, Model.Developers, null, new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Assign" class="btn btn-default" />
    </div>
</div>
}

