@model MLGBugTracker.Models.Ticket
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    int index = 0;
}

<h2>Ticket Details</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @if (User.IsInRole("Admin") ||
                          User.IsInRole("ProjectManager"))
    {
        @Html.ActionLink("Assign Dev", "AssignDev", new { ticketId = Model.Id });
    }
</p>
<hr />

<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />

@*Ticket Detail*@
<div class="row">
    <div class="col-md-6">
        <h4>Ticket</h4>
        <dl class="dl-horizontal">
            <dt>
                Owner
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerUser.DisplayName)
            </dd>

            <dt>
                Priority
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketPriority.Name)
            </dd>

            <dt>
                Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketStatus.Name)
            </dd>

            <dt>
                Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
                @*@item.Created.Date.ToString("MM/dd/yyyy")*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @if (Model.Updated < Model.Created)
                {
                    @Html.DisplayFor(model => model.Updated)
                }
            </dd>

            <dt>
                Project #
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectId)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.AssignedToUserId)*@
                Developer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedToUser.DisplayName)
            </dd>
        </dl>
    </div>

    @*History*@
    <div class="col-md-6">
        <div class="panel-heading">
            <h3 class="panel-title"> History</h3>
        </div>
        <div class="mrgn-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().Changed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().Property)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().OldValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().NewValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().UserId)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TicketHistories)
                    {
                        <tr>
                            <td>
                                @item.Changed.Date.ToString("MM/dd/yy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Property)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OldValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.DisplayName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />

@*Leave Comment*@
<div class="row">
    <div class="col-md-6">
        <div>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || Model.OwnerUserId == User.Identity.GetUserId() || Model.AssignedToUserId == User.Identity.GetUserId())
            {
                <div>
                    <h4>Leave a comment</h4>

                    @using (Html.BeginForm("CreateComment", "Tickets", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.Hidden("TicketId", Model.Id)
                        </div>
                            <div class="form-group">
                                @Html.Hidden("UserId", User.Identity.GetUserId())
                            </div>
                            <div class="form-group">
                                @Html.TextArea("Comment", new { @class = "form-control", rows = "3" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-heading">
            <h3 class="panel-title"> Comments</h3>
        </div>
        <div class="mrgn-2">
            @foreach (var com in Model.TicketComments)
            {
                <p> Created on: @com.Created.DateTime.ToLongDateString() </p>


                <p> By : @com.User.DisplayName </p>


                <p> @com.Comment </p>


                <p>
                    @if (User.Identity.GetUserId() == com.UserId || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit Comment", "Edit", "TicketComments", new { id = com.Id }, null) <span> | </span>
                        @Html.ActionLink("Delete Comment", "Delete", "TicketComments", new { id = com.Id }, null)
                    }
                </p>
                    <br />
            }
        </div>
    </div>
</div>
<hr />

@*Add Attachment*@
<div class="row">
    <div class="col-md-6">
        <div>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || Model.OwnerUserId == User.Identity.GetUserId() || Model.AssignedToUserId == User.Identity.GetUserId())
            {
                <div>
                    <h4>Add Attachment</h4>
                    @using (Html.BeginForm("AddAttachment", "Tickets", FormMethod.Post,
new { @class = "form-horizontal", role = "form", enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.Hidden("TicketId", Model.Id)
                        </div>
                            <div class="form-group">
                                @Html.Hidden("UserId", User.Identity.GetUserId())
                                <div>
                                    <div class="col-md-10">
                                        <input name="image" type="file" class="form-control" id="fileUpload" />
                                        <br />
                                        <input type="submit" value="Submit" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel-heading">
            <h3 class="panel-title"> Attachments</h3>
        </div>
        <div class="mrgn-2">
            @foreach (var att in Model.TicketAttachments)
            {
                <span>@*Posted by @att.User.FirstName on*@ @att.Created.Date.ToLongDateString() </span>
    <!-- Trigger the Modal -->
                <img style="max-width:50%" id="@index" class="img-responsive modalImg" src="@att.FileUrl" />
    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- The Close Button -->
                        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img">
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                    </div>
                    <script>
                        // For Image Modal
                        // Get the modal
                        var modal = document.getElementById('myModal');
                        // Get the image and insert it inside the modal - use its "alt" text as a caption
                        var img = document.getElementById("@index");
                        var modalImg = document.getElementById("img");
                        var captionText = document.getElementById("caption");
                        img.onclick = function () {
                            modal.style.display = "block";
                            modalImg.src = this.src;
                            captionText.innerHTML = this.alt;
                        }
                        var span = document.getElementsByClassName("close")[0];
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function () {
                            modal.style.display = "none";
                        }
                    </script>
                index++;

                <p>
                    @if (User.Identity.GetUserId() == att.UserId || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit Attachment", "Edit", "TicketAttachments", new { id = att.Id }, null)<span> | </span>
                        @Html.ActionLink("Delete Attachment", "Delete", "TicketAttachments", new { id = att.Id }, null)
                    }
                </p>
            }
        </div>
    </div>
</div>


@section scripts
                {
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">
    </script>
    <script>

        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
